@import 'src/assets/scss/variabels.scss';

.ticket {
  width: 100%;
  background-color: $white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: $primary;
}

.logo {
  height: 36px;
}

.segment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $text-color-gray;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__value {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: $text-color-black;
  }
}
